/*add text-alignment, */
.product-img {
    width:400px;
    border: 2px solid #000;
}

.logo {
    width:400px;
    height:400px;
}

.on-page {
    padding-left: 50%;
    text-transform: uppercase;
}

.highlight {
    background-color: yellow;
}

.cart-img {
    width:200px;
    height:200px;
    border: 2px solid #000;
}

.cart-btn {
    background: #ffff05; 
    border: 1px solid #000; 
}

.checkout-btn {
    background: #ffff05; 
    border: 1px solid #000; 
}

.product-block {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.product-block:hover {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #ffff05;
    font-weight: 900;  
}

.price {
    font-weight: normal; 
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.product-name{
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.cart-block {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.detail-block {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    padding-left: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.purchase-block{
    display: flex;
    align-items:center;
    margin-right: 10px
}

h1 {
    padding-left: 50%;
    text-transform: uppercase;
}

h2 {
    padding-left: 50%;
}

hr.footer{
    height: 8x;
    width:90%;
    color: black
}

hr.header{
    height: 2px;
    width:90%;
}