/** General Styling **/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    padding: 10px;
}

p {
    font-size: larger; 
}

.centered-container {
    display: flex;
    gap: 1%;
    justify-content: center;
    margin: 3%;
}

.right-corner-container {
    margin-right: 10%;
    margin-left: 34%;
} 

/** Menu Styling **/
.logo-img {
    height: 200px;
}
.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-right {
    flex-grow: 10; 
    padding: 15px;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5%;
}

a {
    color:inherit;
}

a.no-line:link {
    text-decoration: none;
}

a.no-line:visited {
    text-decoration: none;
}

a.no-line:active{
    text-decoration: none;
}

.menu {
    font-weight: lighter;
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

.current-pg {
    font-weight: bold;
    background-color: yellow
}

sup {
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: lighter;
    height: 25px;
    width: 15px;
}

hr {
    border-top:5px solid black;
}

/** Product Gallery Styling **/
.product-img {
    width: 285px;
    height: 285px;
    border: 3px solid #000;
}

.product:hover {
    background-color: yellow;
}

/** Product Detail Page Styling **/

.detail-img {
    width: 600px;
    border: 3px solid #000;
}

.detail-text {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    font-size: larger; 
}

.detail-top {
    flex-grow:2;
}

.detail-bottom {
    display:flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size:small;
}

button {
    background-color: yellow;
    border: 1px solid #000;
    height: max-content;
    font-weight: bolder;
}

select {
    width: 100%;
    height: 50px; 
    margin-top: 10 px; 
    background-color: white;
    font-size: larger;
}

/** Cart Styling **/
.cart-item {
    display: flex; 
    flex-direction: column;
}

.cart-item-detail {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.cart-item-base {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.cart-img {
    width: 200px;
    height: 200px;
    border: 3px solid #000;
}
.price {
    display: flex;
    gap: 1%;
}

h4 {
    text-decoration: underline;
    font-weight: 500px;
}

.total-cost {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30%;
}
.checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkout-btn {
    height: 50px; 
}