body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.logo-img {
    height: 200px;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-right {
    flex-grow: 10; 
    padding: 20px;
    gap: 10px, 10px; 
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5%;
    font-weight: lighter;
}

.current-pg {
    font-weight: bold;
    text-decoration: none;
    background-color: yellow
}

.menu {
    font-weight: lighter;
    text-decoration: none;
}

.menu-right h2 {
    font-weight: lighter;
}

.cart-det {
    display: flex;
}

hr {
    border-top:3px solid black;
}

sup {
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: lighter;
    height: 25px;
    width: 15px;
}

h1 {
    text-transform: uppercase;
}

h3 {
    font-weight: lighter;
}

.product-img {
    width: 300px;
    border: 3px solid #000;
}

.product-container {
    display: flex;
    gap: 5%;
    justify-content: center;
}

div {
    padding: 20px;
}

.product:hover {
    background-color: yellow;
}