body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-img {
    height: 200px;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-right {
    flex-grow: 10; 
    padding: 20px;
    gap: 10px, 10px; 
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5%;
}

.current-pg {
    font-weight: bold;
    background-color: yellow
}

.menu {
    font-weight: lighter;
}

.menu-right h2 {
    font-weight: lighter;
}

.cart-det {
    display: flex;
}

hr {
    border-top:5px solid black;
}

sup {
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: lighter;
    height: 25px;
    width: 15px;
}

h1 {
    text-transform: uppercase;
}

h3 {
    font-weight: lighter;
}

.product-img {
    width: 300px;
    border: 3px solid #000;
}

.product-container {
    display: flex;
    gap: 5%;
    justify-content: center;
    max-width: 300px;
}

div {
    padding: 10px;
}

.product:hover {
    background-color: yellow;
}

.detail-body {
    display:flex;
    justify-content: center;
    margin: 40px; 
}

.detail-img {
    width: 500px;
    border: 3px solid #000;
    flex: 3;
}

.call-to-action {
    word-wrap: break-word;
}

.detail-text {
    flex-direction: column;
    align-content: stretch;
    max-width: 300 px; 
    gap: 20 px;
}

select {
    width: 100%;
    margin-top: 10 px; 
}

button {
    display: inline-block;
    background-color: yellow;
    width: auto;
    height: 50%;
    font-weight: bold;
}

.pricing {
    display: flex;
    gap: 10 px; 
    justify-content: flex-end;
    align-items: center;
}

p.call-to-action {
    word-wrap: break-word;
    font-size: large;
    flex: 2;
}

.cart-item {
    display: flex;
}

.cart-container {
    display:flex;
    flex-direction:column; 
    justify-content: flex-end;
}

.total {
    display:flex;
    flex-direction:row;
}